proxy:
  mikrotik-proxy.homelab.int.zengarden.space:
    auth:
      username: proxy-user
      password: {{ mikrotik_proxy_auth_password }}
    to:
      url: http://192.168.77.1
      username: admin
      password: {{ mikrotik_password }}
    mode: RESTRICT
    restrictions:
      GET:
        - /rest/ip/dns/static
        - /rest/system/resource
      PUT:
        - /rest/ip/dns/static
