gitea:
  password: ""

github:
  token: ""

# 4 permissions for https://github.com/zengarden-space
# Actions   Access: Read and write
# Contents  Access: Read and write
# Metadata  Access: Read-only
# Workflows Access: Read and write
