letsEncrypt:
  cloudflareAccount: ""
  cloudflareToken: ""

tunnel:
  cloudflareToken: ""

loadBalancing:
  ipRange: "192.168.88.200-192.168.88.254"

externalDns:
  mikrotikBaseUrl: ""
  mikrotikUsername: ""
  mikrotikPassword: ""

argocd:
  webhookSecret: ""

gitea:
  password: ""

dockerHub:
  username: ""
  password: ""
