name: Docs CI/CD Pipeline

on:
  push:
    branches: [ main ]
    paths:
      - 'docs/**'
      - 'ci-cd.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'docs/**'
  workflow_dispatch:

env:
  REGISTRY: gitea.homelab.int.zengarden.space
  IMAGE_NAME: zengarden-space/homelab/docs

jobs:

  build-and-push:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.server_url == 'https://gitea.homelab.int.zengarden.space'
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Setup Helm
        uses: azure/setup-helm@v4
        with:
          version: '3.12.0'

      - name: Install Trivy
        uses: aquasecurity/setup-trivy@v0.2.3
        with:
          token: ${{ secrets.EXTERNAL_GITHUB_COM_TOKEN }}
          version: v0.67.2
          cache: true

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.PACKAGE_WRITE_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha,prefix={{branch}}-

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./docs
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Add IMAGE_TAG Environment Variable
        shell: bash
        run: |
          echo "${{ steps.meta.outputs.tags }}"
          echo IMAGE_TAG=$(echo "${{ steps.meta.outputs.tags }}" | tail -n 1 | cut -d':' -f2) >> $GITHUB_ENV

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: image
          image-ref: '${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}'
          format: table
          exit-code: 1
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'
          skip-setup-trivy: true
        env:
          TRIVY_PLATFORM: linux/arm64

      - name: Lint Helm chart
        run: helm lint ./docs/helm/docs

      - name: Generate manifest
        run: |
          echo "Using tag: $IMAGE_TAG"
          helm template docs ./docs/helm/docs \
            --namespace platform-prod-docs \
            --values ./docs/helm/values-prod.yaml \
            --set image.tag=$IMAGE_TAG > manifest-prod.yaml

      - name: Push manifests
        uses: ./actions/push-manifests
        with:
          environment: prod
          project-name: docs
          component-type: platform
          cluster: homelab
          manifest-file: manifest-prod.yaml
          token: ${{ secrets.CONTENT_WRITE_TOKEN }}
